.a {
  color: brown;
}
.lang-item {
  list-style-type: none;
  width: 70px;
  float: left;
  font-size: 11px;
}
.lang-text {
  padding-top: 10px;
  margin-left: 900px;
}
.menu {
  color: white;
  margin-top: 20px;
}
.menu-item {
  list-style-type: none;
  font-size: 13px;
  float: left;
  width: 170px;
}
.lang {
  height: 35px;
  width: 100%;
  background-color: rgb(245, 245, 245);
  text-align: right;
}
a:link {
  color: #111;
}
body {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}
.div {
  width: 70%;
  margin-left: 250px;
  margin-right: 250px;
}
